* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-200: #FFFFFF;
  --white-100: #EEEEEE;

  --grey-100: #505458;
  --grey-200: #26313C;

  --blue-100: #2B76B0;
  --blue-200: #036CC2;
  --blue-300: #1378B3;

  --orange-100: #ED8C24;
  --orange-200: #e28521;
}

html {
  @media (min-width: 1080px) {
    font-size: 93.75%;
  }

  @media (min-width: 720px) {
    font-size: 87.5%;
  }
  @media (min-width: 420px) {
    font-size: 77.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #8884;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #3333;
  border-radius: 20px;
}