.firstContainer {
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.insideFirstContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}



.buttonPlay {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.58);

  border-radius: 50px;
}

.wrappedButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrappedInformations {
  width: 340px;
  position: absolute;
  top: 80%;
  left: 47%;

  padding: 8px;
  transform: translate(-50%, -50%);

  background: var(--white-200);
  border-radius: 5px;
}

.starsContainer {
  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.insideInformations {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-weight: 700;
  color: var(--blue-600);
}

.description {
  font-weight: 400;
  font-size: 10px;

  color: var(--grey-100);
}

.finalDescription {
  font-weight: 700;
  font-size: 10px;
  color: var(--grey-100);
}

@media (min-width: 768px) {
  .wrappedInformations {
    width: 400px;
    top: 80%;
    left: 48%;
  }
}
@media (min-width: 968px) {
  .wrappedInformations {
    width: 420px;
    top: 80%;
    left: 48%;
  }
}
@media (min-width: 1268px) {
  .wrappedInformations {
    width: 410px;
    top: 80%;
    left: 48%;
  }
}
@media (min-width: 1468px) {
  .wrappedInformations {
    width: 410px;
    top: 85%;
    left: 48%;
  }
}
@media (min-width: 1568px) {
  .wrappedInformations {
    width: 410px;
    top: 85%;
    left: 48%;
  }
}