.firstGlobalContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--white-100);
  
}

.Body {
  width: 100%;
  max-width: 1250px;
}