.planDetailContainer {
  width: 33%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 5px;

  background-color: var(--white-200);

  @media (min-width: 768px) {
    width: 22%;
  }

  @media (min-width: 1080px) {
    width: 18%;
  }

  @media (min-width: 1280px) {
    width: 23%;
  }

  @media (min-width: 1580px) {
    width: 22%;
  }
}

.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 14px;
  gap: 5px;

  border-radius: 5px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);


  @media (min-width: 1568px) {
    padding: 9px 16px 16px 16px;
  }
}

.wrappedHeader {
  width: 80%;

  position: relative;
  top: -20px;

  z-index: 998;

  background-color: var(--white-200);
  border-radius: 5px;

  @media (min-width: 768px) {}

}

.headerText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: var(--blue-400);

  @media (min-width: 768px) {
    font-size: 16px;

  }
  @media (min-width: 1568px) {
    font-size: 32px;

  }
}

.headerSellerImg {
  width: 41px;
  height: 28px;

  position: absolute;
  top: 67%;
  left: 83%;
  transform: translate(-50%);

  @media (min-width: 768px) {
    width: 60px;
    height: 50px;

    top: 70%;
    left: 90%;
  }
  @media (min-width: 1568px) {
    width: 60px;
    height: 50px;

    top: 70%;
    left: 95%;
  }
}

.prices {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-bottom: 1px solid #BDBDBD;
}

.insisePrices {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
}

.textPrice {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 8px;
  color: var(--blue-100);


  gap: 5px;


  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1568px) {
    font-size: 16px;
  }

}

.textPriceOverline {
  text-decoration: line-through;

  font-weight: 400;
  font-size: 8px;
  color: var(--blue-100);


  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1568px) {
    font-size: 16px;
  }
}

.finalPrice {
  font-weight: 600;
  font-size: 15px;
  color: var(--blue-100);
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 1268px) {
    font-size: 1.375rem;
  }
  @media (min-width: 1568px) {
    font-size: 2rem;
  }
  @media (min-width: 1980px) {
    font-size: 3rem;
  }
}

.checkouts {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 6px;

  border-bottom: 1px solid #BDBDBD;

  @media (min-width: 768px) {
    padding: 11.5px;
  }
  @media (min-width: 1568px) {
    padding: 13.5px;
  }
  @media (min-width: 1980px) {
    padding: 14px;
  }
}

.accept {
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-color: var(--blue-500);

  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: 1568px) {
    width: 42px;
    height: 42px;
  }
  @media (min-width: 1980px) {
    width: 52px;
    height: 52px;
  }
}

.declined {
  width: 22px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-color: var(--red-100);

  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: 1568px) {
    width: 42px;
    height: 42px;
  }
  @media (min-width: 1980px) {
    width: 52px;
    height: 52px;
  }
}

.wrappedButtonHire {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;

  @media (min-width: 768px) {
    width: 80%;

    margin-top: 22px;
    margin-bottom: 22px;
  }
}

.hireButton {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;

  border-radius: 50px;

  font-weight: 700;
  font-size: 14px;

  background-color: var(--orange-100);
  color: var(--white-200);
}

.wrappedToppings {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

}

.firstcheckoutsToppings {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;

  font-weight: 600;
  font-size: 16px;
  color: var(--blue-100);
  border-bottom: 1px solid #BDBDBD;

  margin-top: 39px;


  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
  }
  @media (min-width: 1568px) {
    margin-top: 28px;
  }
  @media (min-width: 1980px) {
    margin-top: -10px;
  }
}

.descriptionText {
  font-weight: 500;
  font-size: 12px;
  color: var(--grey-100);

  @media (min-width: 768px) {
    font-size: 9px;
  }
  @media (min-width: 1568px) {
    font-size: 12px;
  }
  @media (min-width: 1980px) {
    font-size: 15px;
  }
}

.titleTablet {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: flex-start;
  color: var(--grey-100);

  margin-bottom: 12px;

  @media (min-width: 1568px) {
    font-size: 15px;
    margin-top: 0px;
  }

  @media (min-width: 1980px) {
    font-size: 24px;
    margin-top: 33px;
  }
}

.subTitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 27px;
  color: var(--grey-100);


  @media (min-width: 1080px) {
    font-size: 11px;
  }
  @media (min-width: 1568px) {
    font-size: 12px;
  }
  @media (min-width: 1980px) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.checkoutsToppings {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 5.5px;

  border-bottom: 1px solid #BDBDBD;

  font-weight: 600;
  font-size: 15px;
  color: var(--grey-100);

  @media (min-width: 768px) {
    align-items: flex-start;
    padding: 4px;
    font-size: 12px;
  }
  @media (min-width: 1568px) {
    font-size: 15px;
  }
  @media (min-width: 1980px) {
    font-size: 18px;
  }
}



.spacing {
  height: 46px;

  @media (min-width: 768px) {
    height: 81px;
  }
  @media (min-width: 1080px) {
    height: 86px;
  }
  @media (min-width: 1568px) {
    height: 92px;
  }
  @media (min-width: 1980px) {
    height: 88px;
  }
}

.imageIcon {
  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1080px) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: 1580px) {
    width: 40px;
    height: 40px;
  }
}

.imageIconSlim {
  width: 28px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1080px) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: 1580px) {
    width: 40px;
    height: 40px;
  }
}