.firstGlobalContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  background-color: var(--white-200);

  :global(.RSPBprogressBar) {
    width: 80% !important;
    background-color: #C4C4C4 !important;
    height: 4px;
  }

  // :global(.MuiInputLabel-root) {
  //   font-size: medium;   
  //   line-height: 14px;
  // }

  .RSPBstep {
    &:first-child {
      left: 20% !important;
    }

    &:nth-child(3) {
      left: 80% !important;
    }
  }
}

.secondContainer {
  width: 100%;
  max-width: 360px;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin-bottom: 19px;
}

.Body {
  width: 100%;
  max-width: 1980px;
}

.wrappedball {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  font-size: 20px;
  font-weight: 500;
  color: var(--white-200);

  margin-top: 25px;
}

.checkoutHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleCheckout {
  width: 100%;
  max-width: 307px;

  font-size: 16px;
  font-weight: 600;
  text-align: center;

  color: var(--grey-300);
}

.titleBalls {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  text-align: center;

  margin-top: 4px;

  color: var(--grey-300);
}

.wrappedContainers {
  width: 100%;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 30px;

  margin-top: 61px;
  padding-top: 18px;
}

.chatButtonContainer {
  display: none;
}

@media (min-width: 768px) {
  .wrappedContainers {
    margin-top: 91px;
    padding-top: 22px;
  }

  .secondContainer {
    margin-bottom: 22px;
  }

  .ball {
    width: 52px;
    height: 52px;
  }

  .chatButtonContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 15px 32px 15px 0;
  }

  .chatButton {
    width: 107px;
    height: 107px;

    border-radius: 50%;

    background: var(--blue-200);
  }
}

@media (min-width: 1080px) {
  .secondContainer {
    max-width: 1015px;

    margin-top: 30px;
  }

  .titleCheckout {
    max-width: 925px;

    font-size: 32px;
    font-weight: 400;

    color: var(--black-100);
  }

  .ball {
    width: 52px;
    height: 52px;

    font-size: 32px;
    line-height: 48px;

    color: var(--white-200);

    margin-top: 36px;

  }

  .titleBalls {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;

    margin-top: 10px;
  }
}