.initialContainer {
  width: 100%;

  display: flex;
  flex-direction: column;

  
  padding: 10px;
  gap: 15px;

  :global(.swiper) {
    width: 100% !important;

    @media (min-width: 768px) {
      width: 100% !important;
    }
    @media (min-width: 1468px) {
      width: 100% !important;
    }
    @media (min-width: 1568px) {
      width: 80% !important;
    }
  }
}

.firstContainer {
  width: 100%;

  display: flex;
  flex-direction: column;

  
  padding: 10px;
  gap: 15px;
}

.sliderContainerSwap {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--grey-100);
  margin-top: 40px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 1268px) {
    font-size: 22px;
  }
}

.description {
  font-weight: 300;
  font-size: 12px;
  text-align: center;

  color: var(--grey-100);

  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1268px) {
    font-size: 18px;
  }
}

.buttonProtectMyPet {
  width: 320px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background: var(--orange-100);
  color: var(--white-200);
}

.wrappedButton {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;
}




.sliderFather {
  :global(.swiper-slide) {
    width: 100% !important;

    @media (min-width: 968px) {
      width: 50% !important;
    }
    @media (min-width: 1280px) {
      width: 33% !important;
    }
    @media (min-width: 1380px) {
      width: 33% !important;
    }
  }
  :global(.swiper-button-next) {
    top: 50%;
    right: 3%;
    background: var(--blue-100);
    border-radius: 100%;
    width: 33px;
    height: 33px;
  }
  :global(.swiper-button-prev) {
    top: 50%;
    left: 3%;
    background: var(--blue-100);
    border-radius: 100%;
    width: 33px;
    height: 33px;
  }
  :global(.swiper-button-next::after){
    font-size: 10px;
    color: var(--white-200);
  }
  :global(.swiper-button-prev::after){
    font-size: 10px;
    color: var(--white-200);
  }
}



